@keyframes bgAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body{
    font-family: "Circular Std", "Nunito", "Rubik", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width:100vw;


}

.container{
    margin: 0;
    padding: 0;
    height: 100vh;
    width:100vw;

}

.sideNav{
    min-width: 20vw;
    height: 100vh;
    width:100vw;
    margin-bottom: 0;
    padding-bottom: 0;
}

.dashboard{
    min-width: 80vw;
    position: relative;
    transition: all 1s;
    overflow: scroll;
}

.home{
    margin:4px;
    border-radius: 4px;
    padding: 10px;
}
.library{
    margin-left:4px; margin-top:4px; margin-right:4px;
    border-radius: 4px;
    min-height: 80vh;
    position: relative;
    margin-bottom:0;
}
.heading h4{
    margin: 13px 17px;
}

.songList{

}

.songList ul{
    max-height: 51vh;;
    overflow: scroll;
    width: 100%;
    margin: 0px;
    padding: 0px;
    gap:10px;
    
}

.songList ul li{
    list-style: none;
    border-radius: 4px;
    margin: 4px 10px;
    background-color: #1f1f1f;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.songList ul li:hover{
    background-color: rgb(240, 255, 255, 0.1);
}
.info{
    font-size:13px;
}
.home ul li {
    display:flex;
    gap: 5px;
    width: 14px;
    list-style: none;
}


.footer{
    position: absolute;
    bottom:0px;
}
.footer-items {
    display:inline-flex;
    margin-left: 6px;
    margin-right: 6px;
    padding: 5px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1vh;

}
.footer-items div a{
    color:white;
    font-family: "Circular Std", "Nunito", "Rubik", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 8px;
    font-weight: 600;
    text-decoration: none;
    opacity:0.8;
    margin: 0px 7px;
}

.dashboard-header{
    margin-top:4px;
    margin-bottom: 0px;
    margin-right:4px;
    margin-left: 0px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 10px;
    justify-content: space-between;
    height: 30px;
    
}

.dashboard-header-nav img{
    height:20px;
    width: 20px;
    filter: invert(1);
}

.dashboard-header-buttons {
    display:flex;
    align-items: center;
    gap: 5px
}

.dashboard-header-buttons button{
    border-radius: 50px;
    padding: 6px 18px;
}

.dashboard-header-buttons button:hover{
    padding: 8px 20px;
}

.dashboard-header-buttons :nth-child(1){
    background-color: rgb(240, 255, 255, 0.1);
    border-style: groove;
    border-color: rgb(120, 121, 121);
    border-width: 1px;
    color: white;
}

.dashboard-header-buttons :nth-child(2){
    border-style: groove;
    border-color: white;
    border-width: 1px;

}


.artist-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;;
    max-height: 36vh;
    overflow:scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;;
    max-height: 36vh;
    overflow:scroll;
}

.artist-playlist{
    margin-top:0px;
    margin-bottom: 0px;
    margin-right:4px;
    margin-left: 0px;
    padding: 10px;
}
.artist-playlist span{
    font-family: "Circular Std", "Nunito", "Rubik", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size:20px;
}
.artist-card{
    width:146px;
    height: 210px;
    border-radius: 4px;
    position: relative;   
}
.artist-card div{
    padding: 13px;
}
.artist-card div span{
    font-size:small ;
    font-weight: 400;
}
.artist-card div p{
    font-size:10px ;
    font-weight: 200;
    opacity: 0.6;
}
.artist-card:hover{
    background-color: #1f1f1f;
    cursor: pointer;
    transition: ease 0.5s;
}
.artist-card:hover .play{
    transform: translateY(0);
    opacity: 1;
    
}
.artist-card div img{
    object-fit: contain;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}


.hamburger{
    display:none;
}

.logo{
    align-items: center;
    margin:5px;
}

.spotify-font{
    font-family: 'Manrope', 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 550;
    font-size: 17px;
}

.home-items li{
    gap: 10px;
    font-size: 15px;
    font-weight:450;
    margin: 6px 4px;
}
.home-items li:hover{
    font-size: 16px;
}

.dashboard-playlist{
    margin-top:0px;
    margin-bottom: 0px;
    margin-right:4px;
    margin-left: 0px;
    padding: 10px;
}
.dashboard-playlist span{

    font-family: "Circular Std", "Nunito", "Rubik", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size:20px;
}

.card div img{
    object-fit: contain;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.card{
    background-color: #1f1f1f;
    width:146px;
    height: 210px;
    border-radius: 4px;
    position: relative;   
}
.card div{
    padding: 13px;
}
.card div span{
    font-size:small ;
    font-weight: 400;
}
.card div p{
    font-size:10px ;
    font-weight: 200;
    opacity: 0.6;
}
.card:hover{
    background-color: black;
    cursor: pointer;
    transition: ease 0.5s;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;;
    max-height: 36vh;
    overflow:scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;;
    max-height: 36vh;
    overflow:scroll;
}
.play{
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 78px;
    right: 13px;
    opacity:0;
    transform: translateY(10px);
    transition: all 0.4s ease;
}
.play button{
    all: unset;
    cursor: pointer;  
}
.card:hover .play{
    transform: translateY(0);
    opacity: 1;
}
.playbar{
    position: sticky;
    bottom: 0.5vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    height: 60px;
    background: #1f1f1f;
    border-radius: 4px;
}

.songbuttons{
    justify-content: center;
    align-items: center;
    height:100%;
    gap: 30px;
}

.songbuttons img{
    height: 40px;
    filter: invert(1);
    height: 20px;
}

.seekbar{
    height: 1px;
    width: 100%;
    background-color: #4d4d4d;
    border: 1px solid #4d4d4d;
    position: absolute;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: painter;
    
}

.circle{
    width: 8px;
    height: 8px;
    border-radius: 13px;
    background-color: white;
    position: relative;       
    transition: left 0.8s;
    left:0%;
}

.songbuttons img{
    cursor: pointer;
}

.volume:hover::after{
    content:""

}

.range-input{
    
}

.song
, .songtime{
    color: white;
}

.songinfo{
    display:flex;
    height: 100%;
    width: 30%;
    overflow: hidden;
    white-space: nowrap;      /* Prevents text from wrapping to the next line */
    text-overflow: ellipsis;  /* Optional: adds "..." at the end */
    padding-left: 5%;
    align-items: center;
}

.songtime{
    padding-right: 0;
}

.songbuttons{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.abovebar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: relative;
    height:100%;
    margin: 0px 20px;

}
.close{
    display: none;
}
.library-playbutton{
    height:18px; 
    width:20px;
    display:flex; 
    align-self: center;
}
.library-playbutton:hover{
        height:22px;
        width: 26px;
}

@media (max-width: 750px){
    .sideNav{
        position: absolute;
        left:-100%;
        transition: all 1s;
        z-index:2;
        width: 233px;
    }

    .dashboard{
        width: 100vw;
        z-index:1;
    }
    .playbar{
        bottom:0px;
    }
    .hamburger{
        display:block;
    }
    .logo{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .close{
        display: block;
        height: 12px;
        width: 12px;
        transition: all 0.5s;
    }
    .close:hover{
        height: 16px;
        width: 16px;
    }
    .songinfo{

        width: 21%;
    }

}








